// src/styles.scss
@use '@angular/material' as mat;

// Применение ядра Angular Material
@include mat.core();

// Определение кастомной темы
$myFlix-Angular-client-theme: (
  color: (
    primary: mat.$indigo-palette,
    accent: mat.$pink-palette,
    warn: mat.$red-palette,
  ),
);

// Применение кастомной темы ко всем компонентам
@include mat.all-component-themes($myFlix-Angular-client-theme);

// Глобальные стили
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }