// src/styles.scss
@use '@angular/material' as mat;


@include mat.m2-core();


@include mat.m2-all-component-themes(mat.m2-light-theme);


html, body { 
  height: 100%; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}