<div class="user-profile-container">
    <h2 class="profile-header">User Profile</h2>
    <div class="profile-form">
        <mat-form-field>
            <input matInput placeholder="Username" [(ngModel)]="user.Username" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="user.Email" required>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" class="update-button" (click)="updateProfile()">Update Profile</button>

    <h3 class="favorite-movies-section">Your Favorite Movies</h3>
    <mat-list *ngIf="favoriteMovies.length > 0">
        <mat-list-item *ngFor="let movie of favoriteMovies">
            <img matListItemAvatar src="{{movie.ImagePath}}" />
            <div matListItemTitle>{{movie.Title}}</div>
            <div matListItemLine>Directed by: {{movie.Director.Name}}</div>
            <button mat-icon-button color="warn" (click)="removeFavorite(movie._id)">
                <mat-icon>remove_circle</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
    <p *ngIf="favoriteMovies.length === 0">You have no favorite movies yet.</p>
</div>